body {
    color: blue;
    display: flex;
    background-image: url("../img/PANO_20200731_175915.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

// div {
//     height: 100 vh;
//     background: url("../img/PANO_20200731_175915.jpg") 0 0 no-repeat;
// }